.web-app{
    height: 100vh;
    overflow: hidden;
}

.navbar{
    height: 80px;
}
header nav form.d-flex{
    flex-grow: 1;
    justify-content: center;
}

.form-control{
    width: 90%;
    background-color: #e5e5e5;
    height: 50px;
}
