.web-app{
    height: 100vh;
    overflow-x: hidden;
}



.navbar{
    height: 80px;
}


main{
    height: calc(100vh - 80px);
    display: flex;
    width: 100%;
}

.sidebar{
    background-image: url(../img/sidebar-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: fit-content;
}

main a:hover div span i{
    color: black;
}

main a:hover div{
    background-color: white;
    border: 0;
}


.offcanvas.offcanvas-end{
    width: 100%;
}

.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

main div ul li,
main div ul li a,
main div div > p{
    font-size: 14px;
}

main div ul li:hover .ms_bg-grey,
main div a:hover.ms_bg-grey{
    background-color: #B6B9BE;
}



@media screen and (min-width: 992px){
    .offcanvas.offcanvas-end{
        width: 50%;
    }
    
}